/* FONTES */

@font-face {
  font-family: 'GoboldBold';
  src: url('../fonts/GoboldBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldBold.woff') format('woff'), url('../fonts/GoboldBold.ttf')  format('truetype'), url('../fonts/GoboldBold.svg#GoboldBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldBoldItalic-Italic';
  src: url('../fonts/GoboldBoldItalic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldBoldItalic-Italic.woff') format('woff'), url('../fonts/GoboldBoldItalic-Italic.ttf')  format('truetype'), url('../fonts/GoboldBoldItalic-Italic.svg#GoboldBoldItalic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldHollow';
  src: url('../fonts/GoboldHollow.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldHollow.woff') format('woff'), url('../fonts/GoboldHollow.ttf')  format('truetype'), url('../fonts/GoboldHollow.svg#GoboldHollow') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldHollowBold';
  src: url('../fonts/GoboldHollowBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldHollowBold.woff') format('woff'), url('../fonts/GoboldHollowBold.ttf')  format('truetype'), url('../fonts/GoboldHollowBold.svg#GoboldHollowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldHollowBoldItalic-Italic';
  src: url('../fonts/GoboldHollowBoldItalic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldHollowBoldItalic-Italic.woff') format('woff'), url('../fonts/GoboldHollowBoldItalic-Italic.ttf')  format('truetype'), url('../fonts/GoboldHollowBoldItalic-Italic.svg#GoboldHollowBoldItalic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldHollowItalic-Italic';
  src: url('../fonts/GoboldHollowItalic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldHollowItalic-Italic.woff') format('woff'), url('../fonts/GoboldHollowItalic-Italic.ttf')  format('truetype'), url('../fonts/GoboldHollowItalic-Italic.svg#GoboldHollowItalic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldItalic-Italic';
  src: url('../fonts/GoboldItalic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldItalic-Italic.woff') format('woff'), url('../fonts/GoboldItalic-Italic.ttf')  format('truetype'), url('../fonts/GoboldItalic-Italic.svg#GoboldItalic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldLight';
  src: url('../fonts/GoboldLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldLight.woff') format('woff'), url('../fonts/GoboldLight.ttf')  format('truetype'), url('../fonts/GoboldLight.svg#GoboldLight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldLightItalic-Italic';
  src: url('../fonts/GoboldLightItalic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldLightItalic-Italic.woff') format('woff'), url('../fonts/GoboldLightItalic-Italic.ttf')  format('truetype'), url('../fonts/GoboldLightItalic-Italic.svg#GoboldLightItalic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldThin';
  src: url('../fonts/GoboldThin.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldThin.woff') format('woff'), url('../fonts/GoboldThin.ttf')  format('truetype'), url('../fonts/GoboldThin.svg#GoboldThin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GoboldThinItalic-Italic';
  src: url('../fonts/GoboldThinItalic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoboldThinItalic-Italic.woff') format('woff'), url('../fonts/GoboldThinItalic-Italic.ttf')  format('truetype'), url('../fonts/GoboldThinItalic-Italic.svg#GoboldThinItalic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}