body, html {
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
}

html {
	overflow-x: hidden;
}

a {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

*:focus {
    outline: none !important;
}

.hidemobile { display: block; }



/*************/
/* PRELOADER */
/*************/

.doubleLoader.theme-ocean.zebra .doubleLoaderTop {
    background-color: #000 !important;
}
.doubleLoader.theme-ocean.zebra .doubleLoaderBottom {
    background-color: #000 !important;
}
.doubleLoader.theme-ocean .doubleLoaderProgBar {
    background-color: #fff !important
}
.doubleLoader.theme-ocean .doubleLoaderProgBar span {
    background-color: #ed1c24 !important
}





/*************/
/* MAINMENU  */
/*************/

.menu-button {
    display: block;
    position: fixed;
    top:0;
	left: 0;
    background: url('../images/sort-variant.svg') no-repeat center #ed1c29;
    background-size: 70%;
	overflow: hidden;
    width: 75px;
    height: 75px;
    text-indent: -9999px;
	color: #fff;
	text-decoration: none;
}
.menu-button:hover { 
	background: url('../images/sort-variant.svg') no-repeat center #8a8a8a;
	background-size: 70%;
}

.burger-close {
	background: url('../images/window-close.svg') no-repeat center #ed1c29;
	background-size: 70%;
}
.burger-close:hover {
	background: url('../images/window-close.svg') no-repeat center #8a8a8a;
	background-size: 70%;
}

.menu-button.right {
    right: 20px;
    left: auto;
}

.menu-button.bottom {
    top: 100px;
}

.menu-button.fixed {
    position: fixed;
}

#overlay {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(47,47,46,0.95);
    z-index: 999998;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s, visibility 0s 1s;
}
#overlay.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s;
}

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  /*background: rgba(47,47,46,0.75);*/
  color: #fff;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.left {
  left: -100%;
  right: auto;
}
.sidr ul {
  display: block;
  margin: 0;
  padding: 0;
}
.sidr ul ul {
  margin: 0;
}
.sidr ul li {
  display: block;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 600;
}
.sidr ul ul li {
  display: block;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.2rem;
}
.sidr ul ul li a {
	padding: .5rem 0;
	margin-left: 3rem;
}

.sidr ul li:hover > a,
.sidr ul li:hover > span, .sidr ul li.active > a,
.sidr ul li.active > span, .sidr ul li.sidr-class-active > a,
.sidr ul li.sidr-class-active > span {
	color: #ed1c29;
}
.sidr ul li a {
  padding: 0 0 1.5rem 3rem;
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
  
}

.sidr ul li a:before {
	display: block;
	height: 2px;
	background: #ed1c29;
	width: 2rem;
	content:"";
	position: absolute;
	top: 1rem;
	left: 0;
}
.sidr ul ul li a:before {
	display: block;
	height: inherit;
	background: none;
	width: inherit;
	content:"";
	position: inherit;
	top: inherit;
	left: inherit;
}

.sidr .rowmenu {
	padding: 100px 100px 25px 100px;
}

.sidr a {
	color: #fff;
}
.sidr a:hover {
	text-decoration: none;
	color: #ed1c29 !important;
}

.sidr a.lang {
	color: #fff;
	font-weight: 600;
	font-size: 1.5rem;
	padding: .5rem;
	border-bottom: 2px solid #ed1c29;
	display: inline-block;
}
.sidr a.linkedin {
	font-size: 1.5rem;
	display: inline-block;
	padding: .5rem .7rem;
}
.sidr a.info {
	font-size: 1rem;
	display: inline-block;
	padding: 1rem 2rem .5rem .5rem;
	color: #b1b2b3;
}

.inmenu {
	position: absolute;
	width: calc(100% - 100px);
	top: 18px;
	right: 20px;
	margin-left: 100px;
}


/*************/
/* HEADER    */
/*************/

header {
	background: #fff;
	height: 75px;
	padding-left: calc(75px + 2.5%);
	position: fixed;
	width: 100%;
	z-index: 5000;
}

header .logo {
	height: 50px;
	margin-right: 2rem;
}

header .nav-link {
    padding: 0 1.3rem !important;
	line-height: 75px !important;
	text-transform: uppercase;
	font-weight: 700;
}

header .nav-link {
	color: #000;
}

header .top-nav .active {
	background: #ed1c29;
	color: #fff;
}

header .top-nav .active::after {
    color: #fff;
    margin-left: .7vw;
    content: "\f2f9";
    border: none;
    font-family: 'Material-Design-Iconic-Font';
    vertical-align: inherit;
}

.dropdown-menu {
    min-width: 10rem;
    padding: 2rem;
    margin: 0;
    font-size: 0.7rem;
    color: #fff;
    background-color: rgba(47,47,47,0.9);
    border: none;
    border-radius: 0;
}
.dropdown-menu h2 {
	color: #fff;
	border-bottom: 2px solid #e30018;
	padding-bottom: 3px;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.dropdown-menu h3 {
	color: #fff;
	padding-bottom: 3px;
	font-size: 1rem;
	margin-top: 1rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem 0 0.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
li.dropdown-item:before {
	font-family: 'Material-Design-Iconic-Font';
	content: "\f2fb";
	color: #ed1c29;
	margin-right: 1rem;
}

.nav-item.show .nav-link {
    color: #fff;
    background-color: #ed1c29;
    border: none;
}

.nav-item.show .nav-link:after {
    color: #fff;
	font-family: 'Material-Design-Iconic-Font';
	content: "\f136" !important;
}

.dropdown-toggle::after {
    color: #ed1c29;
	margin-left: .7vw;
	content: "\f2f9";
	border: none;
	font-family: 'Material-Design-Iconic-Font';
	vertical-align: inherit;
}

.dropdown:hover>.dropdown-menu {
  /* display: block;  Dropdown on rollover */
}

.top-nav { display: block; }

.search-form input.search-field {
	border: 1px solid #b8b8b8;
	border-radius: 20px;	
	padding: 0.5vw 1vw;
	width: 100%;
	font-size: 0.8em;
	position: relative;
}

.search-form input.search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b8b8b8;
}
.search-form input.search-field::-moz-placeholder { /* Firefox 19+ */
  color: #b8b8b8;
}
.search-form input.search-field:-ms-input-placeholder { /* IE 10+ */
  color: #b8b8b8;
}
.search-form input.search-field:-moz-placeholder { /* Firefox 18- */
  color: #b8b8b8;
}

.iconSearch {
	position: absolute;
	top: 7px;
	right: 25px;
	z-index: 1000;
	border: none;
	background: none;
	display: block;
	text-indent: -500px;
	background: url('../images/magnify.png') no-repeat;
	background-size: 85%;
	width: 27px;
	height: 27px;
	cursor: pointer;
}

.tools a {
	margin: 0 15px 0 0;
	color: #000;
	font-size: 20px;
}
.tools a:hover { color: #8a8a8a; text-decoration: none; }
.tools a:last-child { margin: 0; }
.tools .red, footer .red { color: #ed1c2a; margin-left: 3px; }




/*************/
/* Home page */
/*************/

aside {
	width: 75px;
	height: 100%;
	display: flex;
	align-items: center;
	background: #1d1d1c;
	position: fixed;
	left: 0;
	text-align: center;
	padding-top: 75px;
	z-index: 5000;
}

aside ul { 
	list-style: none; 
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}

aside ul li {
	margin: 0.5vw 0;
	padding: 1vw 0 0.8vw 0;
	padding-left: 18px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

aside ul li:first-child {
	/*margin-top: 3vw !important;*/
}

aside a svg {
	fill: #8a8a8a;
	stroke: #8a8a8a;
	width: 31px;
	height:35px;
}

aside ul li.active {
	display: block;
}
aside ul li.active svg {
	fill: #ffffff !important;
	stroke: #ffffff !important;
}
aside ul li.active .tooltip-inner { display: block; }
aside ul li.active .slider-tooltip { opacity: 1 !important; }




/* Tooltip */


.slider-tooltip {
	color:#fff; 
	font-weight:400;  
	background-color:transparent; 
	text-transform: uppercase;
	margin-left: 45px;
	max-width: inherit !important;
	position: absolute;
	left: 80px;
	margin-top: 5px;
	white-space: nowrap;
	display: block;
}
.slider-tooltip-Off { display: none; }
.slider-tooltip span {
	display: block !important;
	height: 2px !important;
	background-color: #ed1c29;
	width: 40px;
	content:"";
	position: absolute;
	left: -60px;
	top: 50%;
}

.tooltip-inner { 
	color:#fff; 
	font-weight:400;  
	background-color:transparent; 
	text-transform: uppercase;
	margin-left: 38px;
	margin-top: -8px !important;
	max-width: inherit !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
.tooltip-inner::before {
	display: block !important;
	height: 2px !important;
	background-color: #ed1c29;
	width: 30px;
	content:"";
	position: absolute;
	left: 0px;
	top: 5px;
}
.arrow{ display: none !important;  }	



/* Section */

section {
	padding: 75px 0 0 75px;
	overflow: hidden !important;
}

.homeslider {
	width: calc(100% - 75px);
	height: 100vh;
	margin: 0;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
}

.innerslider {
	width: calc(100% - 75px);
	margin: 0;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	margin-top: 50px;
}

.textIntro {
	position: absolute;
	z-index: 4000;
	overflow-x: hidden;
	/*width: 95%;*/
}

.homeslider h2 {
	color: #fff;
	font-size: 5vw;
	font-weight: 900;
	-webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
}

.innerslider h2 {
	color: #fff;
	font-size: 4vw;
	font-weight: 900;
	-webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
}

.homeslider h3 {
	color: #fff;
	font-size: 2vw;
	-webkit-animation: slideInRight 1s;
    animation: slideInRight 1s;
}

.innerslider h3 {
	color: #fff;
	font-size: 1.5vw;
	-webkit-animation: slideInRight 1s;
    animation: slideInRight 1s;
}

.homeslider span.line-slider, .innerslider span.line-slider {
	height: 3px;
	line-height: 2px;
	background-color: #ed1c29;
	width: 30%;
	display: block;
	margin: 0 auto 20px auto;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

figure {
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-o-transition: all .5s linear;
	-ms-transition: all .5s linear;
	transition: all .5s linear;
}

figure.active {
    display: flex !important; 
	-webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
	opacity: 1;
	top: 0;
	position: absolute;
	max-width: 100%;
}

figure.inactive {
    display: flex !important;
	-webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
	opacity: 0;
	top: 0;
	position: absolute;
	max-width: 100%;
}

section#homeSlider { 
	background: #000; 
	height: calc(100vh);
	overflow-x: hidden;
}


/* featured Products */

section#featuredProducts {
	background: #ebebeb;
	padding: 0 55px 0 125px;
}

section#featuredProducts .product {
	text-align: center;
	padding: 50px 0 0 0;
	margin: 0 15px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

section#featuredProducts .product h4 {
	color: #3f3b3d;
	font-weight: 500;
	font-size: 1.3rem;
	text-align: left;
	border-bottom: 2px solid #ed1c2a;
	margin-bottom: 0;
	padding: 0 20px 3px 20px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

section#featuredProducts .product span.b-product {
	visibility: hidden;
	color: #fff;
	background: #ed1c24;
	text-align: left;
	width: 100%;	
	display: block;
	padding: 20px;
	font-size: 0.8rem;
	text-transform: capitalize;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
section#featuredProducts .product span.b-product span {
	border-bottom: 2px solid #fff;
	display: block;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
section#featuredProducts .product span.b-product span::after {
	content: "\f2fb";
	font-family: 'Material-Design-Iconic-Font';
	font-size: 0.8rem;
	float: right;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

section#featuredProducts .product a:hover h4 {
	color: #ed1c24;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

section#featuredProducts .product a:hover span.b-product {
	visibility: visible;
	-webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

section#featuredProducts .product a:hover {
	text-decoration: none;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

section#featuredProducts .product figure{
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
	transform: scale(0.9);
}
section#featuredProducts .product a:hover figure {
	transform: scale(1.1);
}

section#featuredProducts .product:hover {
	background: #fff;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}


/* Who are we */

section#whoAreWe {
	padding: 50px 75px 50px 75px;
}

.waw-logo {
	z-index: 100;
	position: relative;
}

.bigTitle {
	color: #ebebeb;
	font-size: 8vw;
	line-height: 5vw;
	text-align: center;
	font-weight: 700;
}

.grayBox {
	position: relative;
	left: -5%;
	border: 10px solid #ebebeb;
	padding: 5%;
}

.grayBox a {
	border-bottom: 2px solid #ed1c2a;
	color: #ed1c2a;
}

.grayBox a:hover { 
	color: #000; 
	text-decoration: none; 
	border-bottom: 2px solid #000;
}


/* News */

section#news {
	padding: 100px 0 50px 0;
	overflow: hidden;
}

section#news h2 {
	font-weight: 700;
	color: #ed1c2a;
	font-size: 2rem;
	line-height: 2rem;
	margin-bottom: 2rem;
	position: relative;
	text-transform: uppercase;
}
section#news h2 span {
	position: absolute;
	height: 3px;
	background-color: #ed1c2a;
	width: 50px;
	display: block;
	top: 50%;
	left: -75px;
}

section#news .date {
	position: absolute;
	bottom: 0;
	display: block;
	color: #fff;
	font-size: 1rem;
	line-height: 1.2rem;
	font-weight: 300;
	z-index: 11;
	padding: 0 0 10px 30px;
}

section#news .newsInfos {
	position: absolute;
	bottom: 0;
	display: block;
	background-color: #2f2f2e;
	padding: 2rem;
	max-width: 100%;
	z-index: 10;
	animation: slideInUp .2s;
	-webkit-animation: slideInUp .2s;
	display: none;
}

section#news .grow:hover .newsInfos { 
	display: block;
}

section#news .newsInfos p { 
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-bottom: 0;
}

section#news .slick-track {
	background: #000;
}

a.b-more {
	color: #fff;
	font-size: 1rem;
	line-height: 1.2rem;
	display: inline-block;
	position: relative;
	padding-right: 40px;
	font-weight: 300;
	text-transform: capitalize;
	margin-top: 50px;
}
a.b-more::after {
	font-family: 'Material-Design-Iconic-Font';
	content: "\f2fb";
	font-size: 1rem;
	line-height: 1.2rem;
	color: #fff;
	position: absolute;
	right: 0;
	font-weight: 300;
}

span.redline {
	height: 2px;
	display: block;
	background: #ed1c2a;
	margin: 5px 0 15px 0;
	
}

.newsSlide { 
	position: relative;
}

.grow img { 
	transition: all .2s ease-in-out; 
	opacity: .5;
}
.grow:hover img { 
	opacity: 1;
	
}
.grow { 
	transition: all .2s ease-in-out; 
}
.grow:hover { 
	transform: scale(1.1); 
	z-index: 2000;
}

.playicon {
	width: 200px;
	display: inline-block;
	position: absolute;
	left: calc(50% - 75px)
}
.playicon i {
	color: #fff;
	font-size: 10vw;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
a.b-video {
	text-align: center;
	display: block;
}
a.b-video:hover i { color: #ed1c2a; }


/**************/
/* PRODUCTS   */
/**************/

body.inner .slider-tooltip { display: none; }

body.inner #headerimg {
	min-height: 330px;
	background-size: cover;
}

section#products {
	padding: 0 0 0 75px;
	overflow: inherit !important;
}

.categoryFilter {
	background: #f3f3f3;
	padding: 23px;
	position: relative;
	top: -80px;
	z-index: 4001;
	min-height: calc(100% + 80px);
}

.productsSearch .search-form input.search-field {
    border: none;
    border-radius: 0;
	background: #fff;
    padding: 0.5vw 1vw;
    width: 100%;
    font-size: 0.8em;
    position: relative;
}

.productsSearch .iconSearch {
    position: absolute;
    top: 29px;
    right: 25px;
    z-index: 1000;
    border: none;
    background: none;
    display: block;
    text-indent: -500px;
    background: url(../images/magnify.png) no-repeat;
    background-size: 85%;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.productsCategory h3 {
	font-family: 'Poppins', sans-serif;
	color: #ed1c29;
	font-size: 1.6rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	padding-left: 10px;
	padding-right: 8px;
	letter-spacing: -0.05rem;
}

.productsCategory {
	padding: 40px 0 20px 0;
}

span.btn_refresh {
	float: right;
	display: inline-block;
    vertical-align: middle;
}

span.btn_refresh a {
	float: right;
	color: #868483;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 2rem;
	letter-spacing: -0.09rem;
	
}
span.btn_refresh a:hover {
	text-decoration: none;
	color: #000;
}

span.btn_refresh .zmdi {
	font-size: 1.5rem !important;
	font-weight: 600;
	margin-left: 0.5rem;
}

span.btn_refresh .act, span.btn_refresh i {
	display: inline-block;
}

span.btn_refresh .act {
	position: relative;
	top: -6px;
}

.cty button {
	background: transparent;
	border: none;
	color: #151b2a;
	font-weight: 700;
	font-size: 0.8rem;
    line-height: 1.8rem;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer !important;
	padding: 10px 0 10px 10px;
	position: relative;
}

.cty:last-child button {
	border: none;
}

.cty button:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

.cty .row { 
	border-top: 1px solid #ddd;
	margin-left: 0;
	margin-right: 0;
}

button.rightIcon {
	border: none;
	background: transparent;
	width: 25px;
	height: 25px;
	display: block;
	color: #ed1c29;
	position: relative;
	right: 10px;
	text-align: right;
}

.ctysub { 
	display: none;
	padding: 10px;
}

.grayline {
	width: calc(100% + 30px);
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	background: #ddd;
}


/* Customize checkbox */

label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 0.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  padding-top: 3px;
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #000;
}

label.container:hover input ~ .checkmark {
  background-color: transparent;
}

label.container input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label.container input:checked ~ .checkmark:after {
  display: block;
}

label.container .checkmark:after {
  left: 8px;
  top: 4.5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Customize checkbox END */

.breadcrump {
	position: relative;
    top: -50px;
	color: #ed1c24;
	font-size: 0.8rem;
}
.breadcrump a {
	color: #fff;
	text-decoration: none;
}
.breadcrump a:hover { text-decoration: underline; }

ul.innerSubMenu {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
ul.innerSubMenu li {
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
	border-right: 1px solid #ddd;
}
ul.innerSubMenu li:last-child { border: none; }
ul.innerSubMenu li a {
	color: #6e6d6d;
	font-size: 0.8rem;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
ul.innerSubMenu li a.active { color: #ed1c24; }

#productsListing { padding-right: 10px; }

#productsListing p {
	font-family: 'Poppins', sans-serif;
	color: #000;
	font-size: 0.8rem;
	line-height: 1.4rem;
	margin-bottom: 40px;
}

.prod {
	padding: 0;
	padding-bottom: 60px;
}

.prod a:hover {
	text-decoration: none;
}

.prod:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.prod .prod-infos .prod-title, .prod .prod-infos .prod-desc, .prod .prod-infos .prod-cta {
	display: block;
	text-align: left;
	position: relative;
	padding: 10px 20px;
	font-size: 0.8rem;
}

.prod .prod-infos .prod-cta .icon {
	position: absolute;
	right: 20px;
	font-size: 20px;
}

.prod .prod-infos .prod-title {
	color: #3f3b3d;
	font-size: 1rem;
	font-weight: 600;
	border-top: 1px solid #ed1c24;
}

.prod .prod-infos .prod-desc {
	color: #2f2f2e;
	background: #ebebeb;
	font-weight: 500;
}

.prod .prod-infos .prod-cta {
	color: #fff;
	background: #ed1c24;
	font-weight: 500;
	text-transform: uppercase;
}

.prod .prod-infos .prod-cta span {
	border-bottom: 1px solid #fff;
	display: block;
	padding-bottom: 3px;
}

.prod .prod-infos .prod-cta:hover {
	background: #6e6d6d;
}

.overlapDown {
	display: none;
}

.prod:hover .overlapDown {
	display: block;
}

.prod .prod-infos {
	width: calc(100% - 30px);
	position: absolute;
	bottom: 0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.prod:hover .prod-infos {
	bottom: -42.5px;
	animation: fadeIn .3s;
	-webkit-animation: fadeIn .3s;
	z-index: 1000;
}

.prod:hover  .prod-infos .prod-title {
	color: #ed1c24;
	font-weight: 600;
	font-size: 0.8rem;
	border: none;
}





/**************/
/* FOOTER     */
/**************/

footer {
	background: #1d1d1c;
	overflow-x: hidden !important;
	color: #fff;
	padding: 0 0 0 75px;
}
footer h3 {
	font-size: 1.5rem;
}

footer #distributors {
	background: #2f2f2e;
	padding: 40px 0;
	width: 100%;
}
footer select {
	width: 100%;
}
.custom-select {
	display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 20px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #fff !important;
    vertical-align: middle;
    border: 2px solid #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	color: #666;
	background: url("../images/select-arrow.png") no-repeat right #2f2f2e;
	background-position: 95%;
	text-shadow: none;
}

.custom-select:focus {
    border-color: #fff;
    outline: 0;
}
 
footer .butSubmit {
	border: none;
	background: none;
	color: #fff;	
	width: 100%;	
	display: block;
	font-size: 3rem;
	padding: 0;
	margin-top: -5px;
	cursor: pointer;
	text-align: right;
}
footer .butSubmit:hover {
	color: #8a8a8a;
}
footer #copyright p {
	font-size: .8rem;
}
footer #copyright a {
	color: #fff;
}
footer #copyright a:hover {
	color: #8a8a8a;
}
footer ul { 
	list-style: none; 
	margin: 0;
	padding: 0;
}
footer ul i {
	float: right;
	margin-top: 3px;
}

footer ul li {
	border-bottom: 1px solid #6a6a6a;
	padding: 5px 0;
	font-size: .8rem;
}
}
footer ul li:last-child {
	border-bottom: none;
}
footer ul li a:hover {
	text-decoration: none;
}

a.round-red {
	background-color: #ed1c24;
	border-radius: 50%;
	display: block;
	with: 100%;
	text-align: center;
}
.round-red img {
	padding: 15px 10px;
}
.round-red:hover {
	background-color: #6a6a6a;
}


/**************/
/* SLICK      */
/**************/


.slick-loading .slick-list
{
    background: #fff url('../js/slick/ajax-loader.gif') center center no-repeat;
}

.slick-list {
	overflow: inherit !important;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 40px 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background: #ed1c24;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 75px;
	z-index: 500;
}
[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}
.slick-prev:before
{
    content: '\f2fa';
	font-family: 'Material-Design-Iconic-Font';
}
[dir='rtl'] .slick-prev:before
{
    content: '\f2fa';
	font-family: 'Material-Design-Iconic-Font';
}

.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 75px;
}
.slick-next:before
{
    content: '\f2fb';
	font-family: 'Material-Design-Iconic-Font';
}
[dir='rtl'] .slick-next:before
{
    content: '\f2fb';
	font-family: 'Material-Design-Iconic-Font';
}




/**************/
/* RESPONSIVE */
/**************/

/* Logo fix */
@media screen and (max-width: 575px) {
	header .logo {
		height: 30px;
	}
	
}


/* Smartphones  ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {

	.hidemobile { display: none; }
	.top-nav { display: none; }
	section#whoAreWe { padding: 50px 50px 50px 125px; }
	.grayBox { left: 0; }
	.waw-logo { text-align: center; }
	.waw-logo img { width: 50%; padding: 5% 0; }
	section#video img { min-height: 200px; width:auto; }
	section#news { padding: 100px 0 50px 75px; }
	.slick-prev { left: 0; z-index: 1000; }
	.slick-next { z-index: 1000; }
	footer .butSubmit { font-size: 2.5rem; margin-top: 0; margin-left: -5px; }
	.slider-tooltip { display: none; }
	.homeslider h2 { font-size: 8vw; }
	.homeslider h3 { font-size: 4vw; }
	.iconSearch {
		position: absolute;
		top: 5px;
		right: 20px;
		background-size: 70%;
		width: 24px;
		height: 24px;
	}
	footer { text-align: center; }
	a.round-red {
		border-radius: 50%;
		width: 100px;
		margin: 20px auto;
	}
	footer .butSubmit {
		display: block;
		font-size: 5rem;
		cursor: pointer;
		text-align: center;
	}
	.custom-select {
		margin-bottom: 15px;
	}
	footer #distributors { padding-bottom: 0; }
	.sidr ul ul { display: none; }
	.sidr .col { flex-basis: inherit; }
	.sidr br { display: none; }
	aside ul li { padding-top: 0; padding-bottom: 0; }
	.sidr ul li {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	.sidr .rowmenu {
		padding: 90px 0 0 40px;
	}
	.sidr .rowmenu:last-child {
		padding: 0 0 0 80px;
	}
	.sidr ul li a {
		padding-bottom: 0;
	}
	.sidr a.linkedin { padding-top: 0; }
	.sidr a.lang { padding-bottom: 0; }
	.sidr a.info {
		display: inline-block;
		padding: 0 0 0 .5rem;
	}
	.categoryFilter {
		min-height: inherit;
	}
	#products .pl-0 { padding-left: 15px !important; }
	.innerslider h2 { font-size: 6vw; }
	.innerslider h3 { font-size: 4vw; }
	.breadcrump {
		background-color: #000;
		font-size: inherir;
		padding: .5rem 1rem;
	}
	ul.innerSubMenu {
		text-align: center;
	}
	ul.innerSubMenu li a {
		font-size: 1rem;
	}
	ul.innerSubMenu li  {
		border: none; 
		margin: 0;
        padding: 0;
	}
	#productsListing { padding-right: 0; }
	.productsCategory { padding: 40px 0 0 0 }
	.innerslider span.line-slider {
		margin: 0 auto 10px auto;
	}
	.innerslider {
		margin-top: 30px;
	}
	
}
@media only screen and (device-width : 812px) {

	.hidemobile { display: none; }
	.top-nav { display: none; }
	section#whoAreWe { padding: 50px 50px 50px 125px; }
	.grayBox { left: 0; }
	.waw-logo { text-align: center; }
	.waw-logo img { width: 50%; padding: 5% 0; }
	section#video img { min-height: 200px; width:auto; }
	section#news { padding: 100px 0 50px 75px; }
	.slick-prev { left: 0; z-index: 1000; }
	.slick-next { z-index: 1000; }
	footer .butSubmit { font-size: 2.5rem; margin-top: 0; margin-left: -5px; }
	.slider-tooltip { display: none; }
	.homeslider h2 { font-size: 8vw; }
	.homeslider h3 { font-size: 4vw; }
	.iconSearch {
		position: absolute;
		top: 5px;
		right: 20px;
		background-size: 70%;
		width: 24px;
		height: 24px;
	}
	footer { text-align: center; }
	a.round-red {
		border-radius: 50%;
		width: 100px;
		margin: 20px auto;
	}
	footer .butSubmit {
		display: block;
		font-size: 5rem;
		cursor: pointer;
		text-align: center;
	}
	.custom-select {
		margin-bottom: 15px;
	}
	footer #distributors { padding-bottom: 0; }
	.sidr ul ul { display: none; }
	.sidr .col { flex-basis: inherit; }
	.sidr br { display: none; }
	aside ul li { padding-top: 0; padding-bottom: 0; }
	.sidr ul li {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	.sidr .rowmenu {
		padding: 50px 0 0 100px;
	}
	.sidr .rowmenu:last-child {
		padding: 0 0 0 100px;
	}
	.sidr ul li a {
		padding-bottom: 0;
	}
	.sidr a.linkedin { padding-top: 0; }
	.sidr a.lang { padding-bottom: 0; }
	.sidr a.info {
		display: inline-block;
		padding: 0 0 0 .5rem;
	}
	.categoryFilter {
		min-height: inherit;
	}
	#products .pl-0 { padding-left: 15px !important; }
	.innerslider h2 { font-size: 8vw; }
	.innerslider h3 { font-size: 4vw; }
	.breadcrump {
		background-color: #000;
		font-size: inherir;
		padding: .5rem 1rem;
	}

	#productsListing { padding-right: 0; }
	.productsCategory { padding: 40px 0 0 0; }
	span.btn_refresh {
		float: none;
		display: table;
		text-align: center;
		margin: auto;
		width: 100%;
	}
	span.btn_refresh a {
		float: none;
	}
	.productsCategory h3 { text-align: center; margin-bottom: 10px; }
	.prod .prod-infos .prod-title { font-size: 0.8rem; font-weight: 500; }
	.innerslider h2 { font-size: 6vw; }
	.innerslider h3 { font-size: 4vw; }
	.innerslider span.line-slider {
		margin: 0 auto 10px auto;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

	.top-nav { display: none; }
	.hidemobile { display: none; }
	.top-nav { display: none; }
	section#whoAreWe { padding: 50px 50px 50px 125px; }
	.grayBox { left: 0; }
	section#video img { min-height: 200px; width:auto; }
	section#news { padding: 100px 0 50px 75px; }
	.slick-prev { left: 0; z-index: 1000; }
	.slick-next { z-index: 1000; }

}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

	.hidemobile { display: none; }
	.top-nav { display: none; }
	section#whoAreWe { padding: 50px 50px 50px 125px; }
	.grayBox { left: 0; }
	.waw-logo { text-align: center; }
	.waw-logo img { width: 50%; padding: 5% 0; }
	section#video img { min-height: 200px; width:auto; }
	section#news { padding: 100px 0 50px 75px; }
	.slick-prev { left: 0; z-index: 1000; }
	.slick-next { z-index: 1000; }
	footer .butSubmit { font-size: 2.5rem; margin-top: 0; margin-left: -5px; }
	
}





/**************/
/* ANIMATIONS */
/**************/

@keyframes heartbeat {
    0% {
        transform: scale( .95 );
    }

    20% {
        transform: scale( .97 );
    }

    30% {
        transform: scale( .95 );
    }

    40% {
        transform: scale( 1 );
    }

    100% {
        transform: scale( .95 );
    }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 


.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 


.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
} 


.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOutLeft {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  }
  @keyframes fadeOutLeft {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
}


.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
} 


.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
} 


.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
} 
