// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Path images
$path-images: '../images';
$path-lib: '../lib';

// Colors
$black: #212529;
$red: #ee1c2a;
$gray: #636363;
$light-red: #f34444;