body {

	&.home {
		.slider-tooltip {
			display:block;
		}
	}

	.slider-tooltip {
		display:none;
	}

}

aside {
	width: 75px;
	height: 100%;
	display: flex;
	align-items: center;
	background: #1d1d1c;
	position: fixed;
	left: 0;
	text-align: center;
	padding-top: 75px;
	z-index: 5000;

	ul {
		list-style: none; 
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: left;

		li {
			margin: 0.5vw 0;
			padding: 1vw 0 0.8vw 0;
			padding-left: 18px;
			-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			-o-transition: all .2s linear;
			-ms-transition: all .2s linear;
			transition: all .2s linear;

			&.active {
				display: block;

				svg {
					fill: #ffffff !important;
					stroke: #ffffff !important;
				}

				.tooltip-inner {
					display:block;
				}

				.slider-tooltip {
					opacity:1 !important;
				}
			}
		}
	}

	a {
		svg {
			fill: #8a8a8a;
			stroke: #8a8a8a;
			width: 31px;
			height:35px;
		}

		.slider-tooltip {
			color:#fff; 
			font-weight:400;  
			background-color:transparent; 
			text-transform: uppercase;
			margin-left: 45px;
			max-width: inherit !important;
			position: absolute;
			left: 80px;
			margin-top: 5px;
			white-space: nowrap;

			span {
				display: block !important;
				height: 2px !important;
				background-color: #ed1c29;
				width: 40px;
				content:"";
				position: absolute;
				left: -60px;
				top: 50%;
			}
		}

		.slider-tooltip-Off {
			display:none;
		}
	}
}

.tooltip-inner { 
	color:#fff; 
	font-weight:400;  
	background-color:transparent; 
	text-transform: uppercase;
	margin-left: 38px;
	margin-top: -8px !important;
	max-width: inherit !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;

	&::before {
		display: block !important;
		height: 2px !important;
		background-color: #ed1c29;
		width: 30px;
		content:"";
		position: absolute;
		left: 0px;
		top: 5px;
	}
}

.arrow { 
	display: none !important;  
}	