.doubleLoader.theme-ocean.zebra .doubleLoaderTop {
    background-color: #000 !important;
}
.doubleLoader.theme-ocean.zebra .doubleLoaderBottom {
    background-color: #000 !important;
}
.doubleLoader.theme-ocean .doubleLoaderProgBar {
    background-color: #fff !important
}
.doubleLoader.theme-ocean .doubleLoaderProgBar span {
    background-color: #ed1c24 !important
}